* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font: 400 14px/20px "Ubuntu", sans-serif;
  cursor: pointer;
}

main {
  position: relative;
  min-height: 100%;
  padding: 0 0 50px;
}

main:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/tiny-squares.png");
  opacity: .3;
  z-index: -1;
}

.panel {
  position: fixed;
  left: 0;
  width: 100%;
  height: 70px;
}

.panel:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 49, 82, 0.5)), to(transparent));
  background-image: linear-gradient(to top, rgba(0, 49, 82, 0.5), transparent);
  pointer-events: none;
}

.panel.top-panel {
  top: 0;
}

.panel.bottom-panel {
  bottom: 0;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 5px 0;
}

.controls.align-center {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.controls.align-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.controls.align-stretch {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.controls .input-wrap {
  position: relative;
  margin-bottom: 0;
  padding-top: 60px;
  text-align: center;
}

.controls .input-wrap label {
  cursor: pointer;
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  max-width: 100%;
  height: 40px;
  padding: 5px 15px;
  font: 700 16px/20px "Ubuntu", sans-serif;
  color: #fff;
  border: none;
  border-radius: 3px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-shadow: 0 1px 3px 0 rgba(100, 100, 100, 0.4);
          box-shadow: 0 1px 3px 0 rgba(100, 100, 100, 0.4);
}

.btn.cancel-btn {
  background-color: #cdcdcd;
}

.btn.change-btn {
  background-color: #2b5796;
}

.btn.create-btn {
  background-color: #226f45;
}

.btn.delete-btn {
  background-color: #d04526;
}

.btn.round-btn {
  width: 50px;
  border: none;
  background-color: #fff;
}

.btn.clean-btn:before, .btn.clean-btn:after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% - 16px);
  width: 32px;
  height: 4px;
  background-color: #d04526;
}

.btn.clean-btn:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btn.clean-btn:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn.list-btn:before, .btn.list-btn:after {
  content: "";
  position: absolute;
  left: calc(50% - 15px);
  width: 30px;
}

.btn.list-btn:before {
  top: calc(50% - 10px);
  height: 12px;
  border: solid #226f45;
  border-width: 4px 0;
}

.btn.list-btn:after {
  top: calc(50% - 2px);
  height: 4px;
  background-color: #226f45;
}

.btn.add-item-btn {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #fff;
}

.btn.add-item-btn:before, .btn.add-item-btn:after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% - 17px);
  width: 34px;
  height: 4px;
  background-color: #003152;
}

.btn.add-item-btn:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 10px;
  opacity: 0;
  background-color: #fff;
  pointer-events: none;
  overflow: hidden;
}

.window h3 {
  margin-bottom: 20px;
}

.window form {
  position: relative;
  padding: 0 10px;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  max-height: 100%;
  overflow: auto;
  opacity: 0;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s, -webkit-transform .3s;
  z-index: 1;
}

.window.active-window {
  opacity: 1;
  pointer-events: all;
  z-index: 10;
}

.window.active-window form {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.input-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.input-wrap .input {
  display: block;
  width: 100%;
  font: 18px/22px "Ubuntu", sans-serif;
  min-height: 60px;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(100, 100, 100, 0.4);
          box-shadow: 0 1px 3px 0 rgba(100, 100, 100, 0.4);
  background-color: #ededed;
  outline-color: transparent;
  -webkit-appearance: none;
}

.input-wrap .input::-webkit-input-placeholder {
  color: rgba(0, 49, 82, 0.3);
}

.input-wrap .input:-moz-placeholder {
  opacity: 1;
  color: rgba(0, 49, 82, 0.3);
}

.input-wrap .input::-moz-placeholder {
  opacity: 1;
  color: rgba(0, 49, 82, 0.3);
}

.input-wrap .input:-ms-input-placeholder {
  color: rgba(0, 49, 82, 0.3);
}

.input-wrap textarea {
  height: 145px;
  resize: none;
}

.input-wrap [type="date"] {
  padding-right: 50px;
  background: #ededed url("../img/calendar.svg") no-repeat calc(100% - 11px) center/contain;
}

.input-wrap .todo-status {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.input-wrap .todo-status + label {
  position: relative;
  font-size: 14px;
  line-height: 30px;
  padding-top: 70px;
}

.input-wrap .todo-status + label:before, .input-wrap .todo-status + label:after {
  content: '';
  position: absolute;
  top: 0;
  left: calc(50% - 30px);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input-wrap .todo-status + label:before {
  border: 4px solid;
  -webkit-box-shadow: 0 1px 3px 0 rgba(100, 100, 100, 0.4);
          box-shadow: 0 1px 3px 0 rgba(100, 100, 100, 0.4);
}

.input-wrap .todo-status + label:after {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.input-wrap .todo-status.normal + label:before {
  border-color: #2b5796;
}

.input-wrap .todo-status.normal + label:after {
  background-color: #2b5796;
}

.input-wrap .todo-status.warning + label:before {
  border-color: #226f45;
}

.input-wrap .todo-status.warning + label:after {
  background-color: #226f45;
}

.input-wrap .todo-status.urgent + label:before {
  border-color: #d04526;
}

.input-wrap .todo-status.urgent + label:after {
  background-color: #d04526;
}

.input-wrap .todo-status:checked.normal + label {
  color: #2b5796;
}

.input-wrap .todo-status:checked.warning + label {
  color: #226f45;
}

.input-wrap .todo-status:checked.urgent + label {
  color: #d04526;
}

.input-wrap .todo-status:checked + label:after {
  opacity: 1;
}

.items-list {
  padding: 10px;
}

.todo {
  position: relative;
  margin-bottom: 10px;
  padding: 8px 55px 9px 70px;
  color: #fff;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(100, 100, 100, 0.4);
          box-shadow: 0 1px 3px 0 rgba(100, 100, 100, 0.4);
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.todo:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, transparent calc(100% - 50px), rgba(255, 255, 255, 0.3) calc(100% - 50px), rgba(255, 255, 255, 0.3) 100%);
}

.todo:after {
  content: attr(data-todo-symbol);
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 35px;
  background-color: #fff;
  font-size: 32px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
}

.todo.overdue .todo-date {
  background-color: #d04526;
  color: #fff !important;
}

.todo.normal {
  background-image: -webkit-gradient(linear, left top, right top, from(#2b5796), to(rgba(43, 87, 150, 0.3)));
  background-image: linear-gradient(to right, #2b5796, rgba(43, 87, 150, 0.3));
}

.todo.normal::after {
  color: #2b5796;
}

.todo.normal .todo-date {
  color: #2b5796;
}

.todo.normal.done {
  background: rgba(43, 87, 150, 0.7);
}

.todo.warning {
  background-image: -webkit-gradient(linear, left top, right top, from(#226f45), to(rgba(34, 111, 69, 0.3)));
  background-image: linear-gradient(to right, #226f45, rgba(34, 111, 69, 0.3));
}

.todo.warning::after {
  color: #226f45;
}

.todo.warning .todo-date {
  color: #226f45;
}

.todo.warning.done {
  background: rgba(34, 111, 69, 0.7);
}

.todo.urgent {
  background-image: -webkit-gradient(linear, left top, right top, from(#d04526), to(rgba(208, 69, 38, 0.3)));
  background-image: linear-gradient(to right, #d04526, rgba(208, 69, 38, 0.3));
}

.todo.urgent::after {
  color: #d04526;
}

.todo.urgent .todo-date {
  color: #d04526;
}

.todo.urgent.done {
  background: rgba(208, 69, 38, 0.7);
}

.todo.done {
  opacity: .4;
}

.todo.done .check-btn:before {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-6px, -7px) scaleY(1);
          transform: rotate(45deg) translate(-6px, -7px) scaleY(1);
}

.todo-title {
  margin-bottom: 3px;
}

.todo-text {
  margin-bottom: 5px;
}

.todo-date {
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 18px;
  border-radius: 3px;
}

.check-btn {
  position: absolute;
  top: calc(50% - 15px);
  right: 10px;
  width: 30px;
  height: 30px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.check-btn:before {
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 6px);
  width: 12px;
  height: 20px;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  -webkit-transform: rotate(45deg) translate(-6px, -7px) scaleY(0);
          transform: rotate(45deg) translate(-6px, -7px) scaleY(0);
  opacity: 0;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  will-change: transform;
}

.check-btn:after {
  content: '';
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
}

.block {
  max-height: 600px;
  opacity: 1;
  pointer-events: all;
  -webkit-transition: opacity .5s, max-height .5s;
  transition: opacity .5s, max-height .5s;
  will-change: max-height;
}

.block.hidden {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */