.window {
    @include pos(absolute, 10px, 10px);
    width: calc(100% - 20px);
    height: calc(100vh - 20px);
    max-height: calc(100vh - 20px);
    border-radius: $main-radius;
    box-shadow: $main-shadow;
    padding: 10px;
    opacity: 0;
    background-color: $color-white;
    pointer-events: none;
    overflow: auto;
    z-index: -1;

    h3 {
        margin-bottom: 20px;
    }

    form {
        position: relative;
        transform-origin: center bottom;
        transform: translateY(100px);
        height: 100%;
        opacity: 0;
        transition: transform .3s, opacity .3s;
        pointer-events: none;
    }

    &.active-window {
        opacity: 1;
        pointer-events: all;
        z-index: 10;

        form {
            transform: translateY(0);
            opacity: 1;
            pointer-events: all;
        }
    }
}