.controls {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.align-center {
        justify-content: space-around;
    }

    &.align-right {
        justify-content: flex-end;
    }

    &.align-stretch {
        justify-content: space-between;
    }

    .input-wrap {
        position: relative;
        margin-bottom: 0;
        padding-top: 60px;
        text-align: center;

        label {
            cursor: pointer;
        }
    }
}