.items-list {
    position: relative;
    width: 100%;
    max-height: calc(100vh - 140px);
    overflow: auto;
    padding: 3px 10px 5px;
    opacity: 1;
    transform: translate(0, 0);
    transition: transform .7s, opacity .5s;
    will-change: transform;

    &.hidden {
        @include pos(absolute, 67px, 0);
        opacity: 0;
        transform: translate(0, 40px);
        pointer-events: none;
    }
}