.nav-panel {
    @include pos(absolute, $bottom: 10px, $left: 10px);
    width: calc(100% - 20px);
    margin-top: -100px;
    padding: 10px;
    border-radius: $main-radius;
    background-color: $color-grey-light;
    box-shadow: $main-shadow;
    
    &.menu-is-open {
        .main-menu {
            opacity: 1;
            transform: translateX(0);
            pointer-events: all;
            z-index: 1;
        }
    }

    .main-menu {
        @include pos(fixed, $bottom: 81px, $left: 10px);
        width: 75%;
        max-width: 320px;
        height: calc(100vh - 150px);
        max-height: calc(100vh - 150px);
        padding: 10px;
        border-radius: $main-radius;
        background-color: $color-grey-light;
        box-shadow: $main-shadow;
        overflow: auto;
        transform: translateX(-100vw);
        opacity: 0;
        transition: transform .3s, opacity .3s;
        pointer-events: none;
        will-change: transform;
        z-index: -1;

        li {
            padding: 15px 0;
            border-bottom: 1px solid $color-white;

            &:first-of-type {
                padding-top: 5px;
            }

            &:last-of-type {
                margin-bottom: 10px;
            }
        }
    }

    .todo-filters,
    .note-filters {
        &.hidden {
            display: none;
        }
        .filter:nth-of-type(4n) {
            margin-right: 0;
        }
    }

    .filter {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 45px;
        height: 45px;
        margin: 0 12px 10px 0;
        padding: 10px 3px;
        border: 3px solid $color-white;
        border-radius: 50%;
        box-shadow: $main-shadow;
        color: rgba($color-white, .7);
        text-align: center;
        font-size: 14px;
        line-height: 18px;
        cursor: pointer;
        &:before {
            content: attr(data-amount);
            display: block;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    [data-amount="0"] {
        display: none;
    }

    [data-amount="0"] + .cancel-filters {
        display: none;
    }

    .cancel-filters {
        color: $color-blue;
        background-color: $color-white;
    }
    .filter.normal {
        background-color: $color-blue;
    }
    .filter.warning {
        background-color: $color-green;
    }
    .filter.urgent {
        background-color: $color-red;
    }

    input[type="search"] {
        display: inline-block;
        width: calc(100% - 90px);
        min-height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: none;
        background-color: $color-white;
    }
}