// SERVICE MESSAGES
.service-messages {
    @include pos(absolute, 0,0,0,0);
    opacity: 0;
    z-index: -1;
    &.active {
        opacity: 1;
        z-index: 10;
        .service-message {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
.service-message {
    @include pos(absolute, 0, 0);
    width: 100vw;
    max-height: calc(100vh - 80px);
    padding: 10px 10px 10px;
    box-shadow: $main-shadow;
    // border-radius: 0 0 $main-radius $main-radius;
    color: $color-white;
    opacity: 0;
    transform: translateY(-100%);
    transition:  opacity .3s, transform .3s;
    will-change: transform;

    &.error {
        background-color: $color-red;
        .message-text {
            color: $color-red;
        }
    }

    &.info {
        background-color: $color-blue;
        .message-text {
            color: $color-blue;
        }
    }

    &.success {
        background-color: $color-green;
        .message-text {
            color: $color-green;
        }
    }

    .message-title {
        position: relative;
        width: calc(100% - 40px);
        margin-bottom: 18px;
        padding: 10px 30px 0 0;
    }
    .message-text {
        padding: 10px;
        border-radius: $main-radius;
        background-color: $color-white;
    }

    .close-message {
        @include pos(absolute, 10px, $right: 10px);
        width: 32px;
        height: 32px;
        border: 2px solid $color-white;
        border-radius: 50%;
        z-index: 1;
        cursor: pointer;

        &:before,
        &:after {
            content: "";
            @include pos(absolute, 50%, 50%);
            width: 16px;
            height: 2px;
            border-radius: 2px;
            background-color: $color-white;
        }

        &:before {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }
}