$color-main: #003152;
$color-white: #fff;
$color-black: #000;
$color-grey: #cdcdcd;
$color-light-grey: lightgrey;
$color-green: #226f45;
$color-blue: #2b5796;
$color-yellow: amber;
$color-red: #d04526;
$fonty: 'Ubuntu',
sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font: 500 16px/24px $fonty;
  cursor: pointer;
}

main {
  position: relative;
  min-height: 100%;
  padding: 0 0 50px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/tiny-squares.png');
    opacity: .3;
    z-index: -1;
  }
}

.panel {
  position: fixed;
  left: 0;
  width: 100%;
  height: 70px;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient( to top, rgba($color-main,.5), transparent);
    pointer-events: none;
  }

  &.top-panel {
    top: 0;
  }

  &.bottom-panel {
    bottom: 0;
  }
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  &.align-center {
    justify-content: space-around;
  }

  &.align-right {
    justify-content: flex-end;
  }

  &.align-stretch {
    justify-content: space-between;
  }
  .input-wrap {
    position: relative;
    padding-top: 40px;
    text-align: center;
    label {
      cursor: pointer;
    }
  }
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  max-width: 100%;
  height: 50px;
  padding: 5px 15px;
  font: 700 16px/24px $fonty;
  border-radius: 25px;
  outline: none;
  border: 4px solid;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  flex-shrink: 0;

  &.cancel-btn {
    color: $color-light-grey;
    border-color: $color-light-grey
  }

  &.create-btn {
    color: $color-green;
    border-color: $color-green;
  }
  &.delete-btn {
    color: $color-red;
    border-color: $color-red;
  }
  &.round-btn {
    width: 50px;
    border: none;
    background-color: $color-white;
  }
  &.clean-btn {
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: calc(50% - 2px);
      left: calc(50% - 16px);
      width: 32px;
      height: 4px;
      background-color: $color-red;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
  &.list-btn {
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: calc(50% - 15px);
      width: 30px;
    }
    &:before {
      top: calc(50% - 10px);
      height: 12px;
      border: solid $color-green;
      border-width: 4px 0;
    }
    &:after {
      top: calc(50% - 2px);
      height: 4px;
      background-color: $color-green;
    }
  }
  &.add-note-btn {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: $color-white;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: calc(50% - 2px);
      left: calc(50% - 17px);
      width: 34px;
      height: 4px;
      background-color: $color-main;
    }
  
    &:after {
      transform: rotate(90deg);
    }
  }
}

.window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 10px;
  opacity: 0;
  background-color: $color-white;
  pointer-events: none;
  overflow: hidden;
  h3 {
    margin-bottom: 20px;
  }
  form {
    position: relative;
    transform-origin: center bottom;
    transform: translateY(100px);
    opacity: 0;
    transition: transform .3s, opacity .3s;
    z-index: 1;
  }

  &.active-window {
    opacity: 1;
    pointer-events: all;
    z-index: 10;
    form {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.input-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 30px;

  .input {
    display: block;
    width: 100%;
    font: 18px/24px $fonty;
    min-height: 50px;
    padding: 5px 15px;
    border: 4px solid rgba($color-main, .3);
    border-radius: 25px;
    outline-color: transparent;
  }

  textarea {
    resize: none;
  }

  .note-status {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    + label {
      position: relative;
      font-size: 14px;
      line-height: 30px;
      padding-top: 50px;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: calc(50% - 20px);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        box-sizing: border-box;
      }
      &:before {
        border: 4px solid;
      }
      &:after {
        opacity: 0;
        transition: opacity .3s;
      }
    }
    &.normal + label {
      &:before {
        border-color: $color-blue;
      }
      &:after {
        background-color: $color-blue;
      }
    }
    &.warning + label {
      &:before {
        border-color: $color-green;
      }
      &:after {
        background-color: $color-green;
      }
    }
    &.urgent + label {
      &:before {
        border-color: $color-red;
      }
      &:after {
        background-color: $color-red;
      }
    }
    &:checked + label:after {
      opacity: 1;
    }
  }
}
.notes-list {
  padding: 10px;
}
.note {
  position: relative;
  margin-bottom: 10px;
  padding: 8px 55px 9px 70px;
  color: $color-white;
  transition: transform .5s;
  border-radius: 4px;
  box-shadow: 0 0 10px 1px rgba($color-black, .2);
  opacity: 1;
  transition: opacity .3s;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, transparent calc(100% - 50px), rgba($color-white, .3) calc(100% - 50px), rgba($color-white, .3) 100%);
  }
  &:after {
    content: attr(data-note-symbol);
    position: absolute;
    top: 20px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 35px;
    background-color: $color-white;
    font-size: 32px;
    text-align: center;
    line-height: 50px;
  }
  &.normal {
    background-image: linear-gradient(to right, $color-blue, rgba($color-blue, .3));
    &::after {
      color: $color-blue;
    }
    .note-date {
      color: $color-blue;
    }
    &.done {
      background: rgba($color-blue, .5);
    }
  }
  &.warning {
    background-image: linear-gradient(to right, $color-green, rgba($color-green, .3));
    &::after {
      color: $color-green;
    }
    .note-date {
      color: $color-green;
    }
    &.done {
      background: rgba($color-green, .5);
    }
  }
  &.urgent {
    background-image: linear-gradient(to right, $color-red, rgba($color-red, .3));
    &::after {
      color: $color-red;
    }
    .note-date {
      color: $color-red;
    }
    &.done {
      background: rgba($color-red, .5);
    }
  }
  &.done {
    opacity: .4;
    .check-btn {
      &:before {
        opacity: 1;
        transform: rotate(45deg) translate(-6px, -7px) scaleY(1);
      }
    }
  }
}
.note-text {
  margin-bottom: 5px;
}
.note-date {
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  background-color: rgba($color-white, .5);
  line-height: 18px;
  border-radius: 3px;
}
.check-btn {
  position: absolute;
  top: calc(50% - 15px);
  right: 10px;
  width: 30px;
  height: 30px;
  border: 3px solid rgba($color-white, .7);
  border-radius: 50%;
  &:before {
    content: '';
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 6px);
    width: 12px;
    height: 20px;
    border-right: 4px solid $color-white;
    border-bottom: 4px solid $color-white;
    transform: rotate(45deg) translate(-6px, -7px) scaleY(0);
    opacity: 0;
    transition: opacity .3s, transform .3s;
    will-change: transform;
  }
  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
  }
}

.no-scroll {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}